body {
    font-family: "Lato", sans-serif;
    
}

    .main{
        margin-left: 35%; 
    }

    .login-form{
        margin-top: 50%;
    }

.btn-black{
    background-color: #000 !important;
    color: #fff;
}